.modal-body  .form-control {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal-content .modal-body .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group-colore{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.color-select{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.buttonVerde{
  width: 8rem;
  background-color: #038203 !important; 
  border-color: #038203  !important;
}

.buttonChiaro {
  width: 8rem;
  background-color: #434443 !important; 
  border-color: #434443  !important;
}