.centered {
    display: grid;
    place-items: center;
}

.ciao {
    color: black;
    margin-top: -20px;
}

.action-icons {
    display: grid;
    justify-content: center;
    display:flex;
    gap: 15px;
    align-items: center;
}

.pen-icon { 
    cursor: pointer;
    width: 20px;
}

.MybuttonGreen{
  width: 12rem;
  background-color: #038203 !important; 
  border-color: #038203  !important;
  font-weight: bold !important;
  height: 2.5rem;
  font-size: 30px;
}


.SearchBar{
    margin-bottom: 3rem;
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



@media (max-width : 600px) {
    .buttonGreen2{
        width: 6rem;
        font-size: 15px;
        height: 4.5rem;
        
    }


    .ciao{
        margin-left: 70px;
    }

}


@media (max-width : 400px) {
    .buttonGreen2{
        width: 2rem;
        font-size: 1px;
    }
    .pagination{
        margin-left: -100px;
    }
}
