.pagination {
    margin-top: 20px;
    flex: end
}

.pagination_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonGreen2 {
    width: 14rem;
    height: 2.5rem;
    font-weight: bold;
    background-color: #038203 !important;
    border: none;
}


@media (max-width: 630px) {

    .my-table th,
    .my-table td {
        text-align: center;
    }


    .pagination_container {
        margin-left: 70px;
    }


}




@media (max-width: 500px) {


    .buttonGreen2 {
        width: 8rem;
        font-size: 15px;
    }


}